#map {
  width: 99%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.map-overlay {
  font: 20px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  position: absolute;
  width: 220px;
  top: 0;
  left: 0;
  padding: 10px;
}

.map-overlay-inner {
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.map-overlay-inner fieldset {
  border: none;
  padding: 0;
  margin: 0 0 10px;
}

.map-overlay-inner label {
  display: block;
  font-weight: bold;
  margin: 0 0 5px;
}

.map-overlay-inner button {
  display: inline-block;
  width: 200px;
  height: 50px;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.map-overlay-inner button:hover {
  box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

textarea {
  resize: none;
  font-size: 25px;
  background-color: transparent;
  border-color: transparent;
  color: black;
  outline: none;
  font-weight: bold;
}

.chart{
  position: fixed;
  bottom: 0;
  right: 0;
}

.chart-text{
  position: relative;
  top: 25px;
  font-size: 30px;
}